In [2]:
import pandas as pd

# Lançamento de crédito e Lançamento de débito

In [4]:
dados = pd.read_csv("dadosAuditoria.csv")

df = pd.DataFrame(dados)
print(df.head())
print('\n')

# Converter a coluna de datas para o formato datetime
df['Data'] = pd.to_datetime(df['Data'], format ='%d/%m/%Y')

#Agrupar por data e tipo de operação, contando o número de operações por combinação
operacoes_por_dia_tipo = df.groupby(['Data', 'Operação']).size().reset_index(name='contagem_operacoes')

# Filtrar os grupos que tiveram mais de uma operação
dias_com_mais_de_uma_operacao = operacoes_por_dia_tipo[operacoes_por_dia_tipo['contagem_operacoes'] > 1]

# Exibir o resultado
print(dias_com_mais_de_uma_operacao)
print('\n')

  Contas Operação        Data   Valor
0  Caixa   Débito  05/09/2023  594,83
1  Caixa   Débito  07/09/2023   160,5
2  Caixa   Débito  09/09/2023  964,67
3  Caixa   Débito  18/09/2023  916,11
4  Caixa   Débito  26/09/2023  202,93


         Data Operação  contagem_operacoes
19 2023-09-10   Débito                   2
28 2023-09-15  Crédito                   2


Foi identificado na extração dos dados que temos mais de uma operação de crédito e débito nos dos meses auditados

De acordo com os dados acima, foi identificado que no dia 10/09/2023 ocorreram duas operações de débito e no dia 15/09/2023 duas operações de crédito.

# Saldo zerado

In [ ]:

# Converter a coluna de datas para o formato datetime
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')

# Extrair o mês da coluna de data
df['mes'] = df['Data'].dt.to_period('M')

#Convertendo o valor para float
df['Valor'] = df['Valor'].str.replace(',', '.').astype(float)

# Agrupar por mês e operação e somar os valores
soma_por_mes = df.groupby(['mes', 'Operação'])['Valor'].sum().unstack(fill_value=0).astype(float)

# Subtrair os valores de débito dos créditos para calcular o saldo
soma_por_mes['Saldo'] = soma_por_mes['Crédito'] - soma_por_mes['Débito']

# Exibir o resultado
print(soma_por_mes)

Operação   Crédito    Débito  Saldo
mes
2023-09   18549.81  18473.25  76.56
2023-10   15927.89  15927.89   0.00

No mes de setembro não o saldo não zerou, quebrando a restrição de o saldo estar zerado para ser impresso